<h2>상품상세페이지</h2>
<section id="productDetail">
    <div id="prd-image">
        <img {{bind-attr src=imageList.[0].imageUrl }} style="height: 320px; width: 320px;" />
    </div>

    <div>
        <h3>상품이름: {{productName}}</h3>
        <h3>상품가격: {{salePrice}}</h3>
    </div>

    <!-- 상품 상세 옵션 선택 -->
    {{view "select"
        content=skuList
        value=selectedSku
        optionValuePath="content.id"
        optionLabelPath="content.displayName"}} <br />

    <!-- 상품 수량 선택 -->
    {{view "select"
        content=quantityWithOneToTen
        value=selectedQuantity }} <br />

    <!-- 상품 주문 -->
    <!-- 버튼? link-to? a href?? 무엇으로?? -->
    <button {{action 'addToCart' model}}>장바구니담기</button> &nbsp;
    <button {{action 'makeOrder' model}}>바로주문하기</button> <br />
</section>

